*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/build/intermediates/*
app/build/outputs/apk/debug/
gradle/*
gradlew
gradlew.bat
settings.gradle
app/build/outputs/logs/*
app/build/outputs/logs/manifest-merger-debug-report.txt
app/build/generated/not_namespaced_r_class_sources/*
